/* item más limpio */
.report-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 14px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: all 0.2s ease;
    width: 100%;              /* 🔥 importante */
  gap: 10px;                /* espacio entre texto y botón */

  border: 1px solid transparent;
}

/* hover más elegante */
.report-item:hover {
  background: #f1f5f9;
  border: 1px solid #e2e8f0;
}

/* lado izquierdo */
.report-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;                 /* 🔥 ocupa el espacio disponible */
  min-width: 0;            /* 🔥 evita que rompa el layout */
}

.file-name {
  width: 200px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;     /* 🔥 evita que el texto baje */
}
.file-icon {
  font-size: 18px;
}

/* botón más bonito */
.download-btn {
  padding: 7px 14px;
  border: none;
  border-radius: 8px;
  background: #2190FF;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* efecto hover */
.download-btn:hover {
  background: #1976d2;
  transform: scale(1.05);
}